<h2>Nuevo Ingreso de Paciente</h2>
<mat-horizontal-stepper class="mat-elevation-z2" linear="true" labelPosition="bottom">
  <mat-step>
    <ng-template matStepLabel>
      Nombre
    </ng-template>
    <!--<create-course-step-1></create-course-step-1>-->
    <div class="stepper-buttons">
      <button mat-raised-button color="primary" matStepperNext>
        Siguiente
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Apellido
    </ng-template>
    <!--<create-course-step-1></create-course-step-1>-->
    <div class="stepper-buttons">
      <button mat-raised-button color="primary" matStepperNext>
        Siguiente
      </button>
    </div>
  </mat-step>


</mat-horizontal-stepper>
