.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;

  a {
    text-decoration: none;
    color: blue;
  }

  mat-icon {
    margin-right: 8px;
  }

  span {
    margin: 0 4px;
  }
}
